{% extends "base.html" %}
{% block jumbotron_custom %}
    <form action="" method="post" class="form-inline">
        {{ form.hidden_tag() }}
        {{ form.city(class_="form-control mr-3", placeholder="city") }}
    <button type="submit" style="background:#cccccc !important; font-weight:600 !important; color:#212529 !important; border: 1px outset black !important" class="btn btn-primary mb-2">Search</button>
    </form>
{% endblock %}
{% block content %}

    <div class="container">
        <h2>List of theatres</h2>
        <div class="row" style="margin-left: 0px;">
            {% if data %}
                <div class="card-group" style="width: 100%">
                    {% for item in data %}
                        <div class="col-3 mb-3">
                            <div class="card" style="height: 100%">
                                <div style="height:300px; overflow: hidden;">
                                    {% if item['thumbnail'] %}
                                        <img class="card-img-top" src="{{ item['thumbnail']['value'] }}"
                                             alt="Card image cap">
                                    {% else %}
                                        <img class="card-img-top"
                                             src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                             alt="Card image cap">
                                    {% endif %}
                                </div>
                                <div align="center" class="card-body">
                                    <h5 class="card-title">{{ item['tLabel']['value'] }}</h5>
                                </div>
                                <div align="center" class="card-footer">
                                    <a href="{{ url_for('person', uri=item['theatre']['value']) }}"{#1['theatre']#}
                                       style="background:#cccccc !important; font-weight:600 !important; color:#212529 !important; border: 1px outset black !important" class="btn btn-sm btn-primary">Information</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif request.method == 'POST' %}
                <div class="col-12">
                    <div class="alert alert-warning">No data</div>
                </div>
                {% else %}
                <div class="col-12">
                    <div style="background:#cccccc !important;  color:#212529 !important; border: 1px solid #a0a0a0 !important " class="alert alert-success">Start searching!</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}